{% load django_bootstrap5 %}
{% load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  {% block styles %}
   {% bootstrap_css %}
   <link rel="stylesheet" href="../static/css/navbar.css" />
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>Instagram</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
  {% endblock %}

</head>
<body>
  <nav class="navbar m-0 bg-white">
    <a href="/" class="navbar-brand mb-0 h1">
      <img src="../../static/assests/instagram_logo.png" alt="" />
    </a>
    <form class="form" id="searchform" action="{% url 'search_results' %}" role="search">
      <input type="text" class="form-control" placeholder="Search" aria-label="Search" id="searching"
        name="search_profile" />
    </form>
   {% if user.is_authenticated %}
    <ul class="icons m-0">
      <li class="nav-item">
        <a class="nav-link mr-0" href=" ">
          <img src="../../static/assests/home.png" alt="" class="nav-icon" height="20" />
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link mr-0" href="#">
          <img src="../../static/assests/send.jpg" alt="" class="nav-icon" height="20" />
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link mr-0" href="{% url 'upload' %}">
          <img src="../../static/assests/add.png" alt="" class="nav-icon" height="20" width="20" />
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link mr-0" href="#">
          <img src="../../static/assests/compass.png" alt="" class="nav-icon" height="20"/>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link mr-0" href=" ">
          <img src="../../static/assests/heart.png" alt="" class="nav-icon" height="20"/>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{%url 'profile'  username=user%}">Profile<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'logout'%}">Logout</a>
      </li>
     
    </ul>
    {% else %}
    <li>
      <a class="btn btn-default" href="{% url 'login' %} ">Sign in</a>
    </li>
    {% endif %}

  
  </nav>
  <hr class="m-0" />
 
</body>
</html>